.slider_image{
    width: 100%;
}
#slider_inner{
    width: calc(100%/3);
    overflow-x: scroll;
    display: flex;
    scroll-behavior: smooth;
}
#slider_inner::-webkit-scrollbar{
    display: none;
}
#slider{
    display: flex;
}
#right_arrow{
    position: relative;
    vertical-align: middle;
}
#left_arrow{
    position: relative;
    vertical-align: middle;
}